:root {
    --white: #EBF0F3;
    --purple: #2E1D5B;
    --green: #68E5AD;
}

@font-face {
    font-family: Biko;
    src: url('../fonts/Biko_Regular.otf');
}

@font-face {
    font-family: Biko;
    src: url('../fonts/Biko_Black.otf');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: Biko, Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    width: 100%;
    box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.10);
}

.header__logo {
    padding-left: 150px;
}

.header__menu {
    list-style: none;
    padding-left: 10vw;
}

.menu__items {
    display: inline-block;
    padding: 0 10px;
}

.menu__items a {
    text-decoration: none;
}

.social-media__icons {
    color: var(--purple);
    width: 20px;
    padding: 0 5px;
}

.vip {
    background: var(--green);
    text-transform: uppercase;
    padding: 5px 50px 10px 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    justify-self: end;
    text-decoration: none;
}

.vip__items {
    background: inherit;
    padding: 0px 3px;
}

.vip__items--white {
    color: var(--white);
    font-size: 1.8em;
}

.home {
    width: 90% !important;
    height: 50vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 125px 50px 60px 50px;
    width: 90%;
    height: 60vh;
}

.home__mockups {
    width: 50vw;
}

.home__title {
    font-weight: bold;
    color: var(--purple);
    font-size: 2.5rem;
    line-height: 35px;
    margin-bottom: 10px;
}

.home__title--sub-title {
    color: var(--green);
    font-size: 1.9rem;
    text-transform: uppercase;
}

.home__paragraph {
    width: 75%;
    text-align: justify;
}

.whatapp-btn {
    position: fixed;
    bottom: 20px;
    right: 10px;
    border-radius: 50px;
}

.features {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--green);
    padding: 40px 50px;
}

.features__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__icon {
    width: 60px;
    margin-right: 10px;
}

.features__desc {
    text-transform: uppercase;
    color: var(--purple);
    width: 200px;
}

.call-to-action {
    text-align: center;
    width: 100%;
    color: var(--purple);
    box-shadow: 0px 0px 53px 1px rgba(0,0,0,0.20);
}

.call-to-action__button {
    border: none;
    text-transform: uppercase;
    background: var(--purple);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 30px;
    margin: 40px 0;
}

.separator {
    margin: auto;
    padding: 10px;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-image: url('../images/bg-white.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 55%;
    padding-top: 30px;
}

.services__title {
    text-transform: uppercase;
    text-align: center;
    color: var(--purple);
    font-weight: 500;
}

.services__title--main {
    font-size: 3rem;
    font-weight: bold;
}

.services__card {
    width: 250px;
    height: 250px;
    margin: 25px 0px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 63px 1px rgba(0,0,0,0.20);
    background-color: #FFFFFF;
}

.services__helper {
    color:  var(--purple);
}

.services__paragraph {
    margin-top: 10px;
    padding: 0 10px;
    text-align: center;
}

.services__icon {
    width: 80px;
    margin-bottom: 10px;
}

.services__icon--doble {
    width: 150px;
}

.aws-banner {
    align-self: flex-start;
    width: 200px;
}}