:root {
    --white: #EBF0F3;
    --purple: #2E1D5B;
    --green: #68E5AD;
}

@font-face {
    font-family: Biko;
    src: url('../fonts/Biko_Regular.otf');
}

@font-face {
    font-family: Biko;
    src: url('../fonts/Biko_Black.otf');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: Biko, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
}

.header {
    display: grid;
    grid-template-columns: 22% 50% 10% 18%;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.10);
    transition: background 500ms ease-in-out;
    min-height: 102px;
    color: var(--purple);
}

.header--white {
    background: var(--white);
}

.header--purple {
    background-color: var(--purple);
}

.header__logo {
    justify-self: center;
}

.header__nav {
    justify-self: center;
}

.header__menu {
    list-style: none;
}

.menu__item {
    display: inline-block;
    padding: 0 10px;
}

.menu_link {
    text-decoration: none;
    transition: color 150ms ease-in-out;
}

.menu_link:link {
    color: var(--purple);
}

.menu_link:hover {
    color: var(--green);
}

.menu_link--green {
    color: var(--green);
}

.menu_link--green:link {
    color: var(--green);
}

.menu_link--green:hover {
    color: var(--white);
}

.menu__responsive {
    display: none;
    color: var(--purple);
}

.menu_responsive--show {
    position: fixed;
    z-index: 900;
    margin-left: -15px;
}

.menu_responsive--show>svg {
    color: var(--white);
}

.menu__responsive--white>svg {
    color: var(--white);
}

.menu__close {
    display: none;
}

.social-media__icons {
    color: var(--purple);
    width: 20px;
    padding: 0 5px;
    transition: color 150ms ease-in-out;
}

.social-media__icons--instagram {
    background-image: url('../images/instagram.svg');
}

.social-media__icons:hover {
    color: var(--green);
}

.social-media__icons--green {
    color: var(--green);
}

.social-media__icons--green:hover {
    color: var(--white);
}

.vip {
    background: var(--green);
    text-transform: uppercase;
    padding: 5px 50px 10px 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    justify-self: end;
    text-decoration: none;
}

.vip__items {
    background: inherit;
    padding: 0px 3px;
}

.vip__items--white {
    color: var(--white);
    font-size: 1.8em;
}

.home {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 125px 10px 20px 10px;
    width: 90%;
    height: 60vh;
}

.home__mockups {
    width: 50vw;
}

.home__title {
    font-weight: bold;
    color: var(--purple);
    font-size: 2.5rem;
    line-height: 35px;
    margin-bottom: 10px;
}

.home__title--sub-title {
    color: var(--green);
    font-size: 1.9rem;
    text-transform: uppercase;
}

.home__paragraph {
    width: 75%;
    text-align: justify;
}

.whatsapp-btn {
    position: fixed;
    bottom: 30px;
    right: 0;
    border-radius: 50px;
}

.features {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--green);
    padding: 40px 50px;
}

.features__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__icon {
    width: 60px;
    margin-right: 10px;
}

.features__desc {
    text-transform: uppercase;
    color: var(--purple);
    width: 200px;
}

.call-to-action {
    text-align: center;
    width: 100%;
    color: var(--purple);
    box-shadow: 0px 0px 53px 1px rgba(0, 0, 0, 0.20);
    font-size: 1.1rem;
}

.call-to-action__button {
    border: none;
    text-transform: uppercase;
    background: var(--purple);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 30px;
    margin: 40px 0;
    font-size: inherit;
}

.separator {
    margin: auto;
    padding: 10px 0;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-image: url('../images/bg-white.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 55%;
    padding-top: 30px;
    row-gap: 30px;
    column-gap: 20px;
}

.services__title {
    text-transform: uppercase;
    text-align: center;
    color: var(--purple);
    font-weight: 500;
}

.title {
    text-transform: uppercase;
    text-align: center;
    color: var(--purple);
    font-weight: 500;
    font-size: 3rem;
    font-weight: bold;
}

.services__card {
    width: 250px;
    height: 250px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 63px 1px rgba(0, 0, 0, 0.20);
    background-color: #FFFFFF;
}

.services__helper {
    color: var(--purple);
}

.services__paragraph {
    margin-top: 10px;
    padding: 0 10px;
    text-align: center;
}

.services__icon {
    width: 80px;
    margin-bottom: 10px;
}

.services__icon--doble {
    width: 150px;
}

.aws-banner {
    align-self: flex-start;
    width: 200px;
}

.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.why-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/city-green.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px 100px;
}

.why-container__image {
    width: 50vw;
}

.why-container__title {
    color: var(--white);
    font-size: 3.4em;
    line-height: 70px;
}

.why-container__sub-title {
    font-size: 5.3rem;
    color: var(--purple);
    text-transform: uppercase;
}

.why-container__list {
    width: 80%;
    padding-top: 20px;
}

.why-container__item {
    color: var(--purple);
    font-size: 1.2em;
    text-align: justify;
    margin: 10px 0;
}

.call-to-action--fifty-fifty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.call-to-action__title {
    text-align: start;
    font-size: 3rem;
    line-height: 40px;
    padding: 0 0 0 30px;
}

.call-to-action__title--green {
    color: var(--green);
}

.pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
    background: var(--purple);
    color: var(--white)
}

.title--white {
    color: var(--white)
}

.pricing__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__item {
    margin: 60px 50px;
    text-align: center;
}

.pricing__title {
    font-size: 2rem;
}

.pricing__users {
    font-size: 1.5rem;
}

.pricing__price {
    color: var(--green);
    display: block;
    font-weight: bold;
    font-size: 2rem;
}

.pricing__per-month {
    font-size: 1.2rem;
}

.pricing__separator {
    width: 6px;
    height: 70px;
    background: var(--white);
}

.footer {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.footer--80 {
    width: 80%;
}

.footer--colum {
    flex-direction: column;
}

.footer__more-info {
    color: var(--purple);
    font-weight: bold;
    font-size: 4rem;
    text-align: start;
    width: 40%;
    margin: 0 50px;
    line-height: 60px;
}

.footer__more-info>span {
    color: var(--green);
}

.footer__logo {
    text-align: center;
    font-size: 1.2rem;
    color: #818181;
}

.btn {
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin: 15px 0px;
    transition: background 200ms ease-in-out;
}

.btn:focus {
    outline: none;
}

.btn--green {
    background: var(--green);
    color: var(--white);
    border: 1px solid var(--white);
}

.btn--green:hover {
    background: var(--purple);
    color: var(--green);
}

.title--capitalize {
    text-transform: capitalize;
}

.faq {
    padding: 110px 0px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.faq__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
    row-gap: 60px;
    margin: 20px 0px;
}

.faq__title {
    color: var(--green);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.faq__paragraph {
    color: var(--purple);
    font-size: 1rem;
}

.faq__link {
    color: var(--purple);
    font-weight: bold;
    cursor: pointer;
}

.faq__answer:last-child {
    grid-column: 2 / 3;
}

.footer--purple {
    background: var(--purple);
    color: var(--white);
}

.title--white {
    color: var(--white);
}

.header__menu--show {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 80px;
    top: 0;
    right: 0;
    background: var(--white);
    z-index: 500;
    height: 100vh;
    width: 50vw;
    background: var(--purple);
    animation: show-menu 400ms;
}

@keyframes show-menu {
    from {
        width: 0vh;
    }

    to {
        width: 50vw;
    }
}

.menu__item--show {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0px;
    width: 90%;
    text-align: end;
    padding-right: 20px;
}

.menu_link--show {
    color: var(--green);
}

.menu_link--show:link {
    color: var(--green);
}

.community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.community__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
}

.community__articles {
    position: static;
    min-width: 20%;
    padding-right: 30px;
}

.community__title {
    color: var(--purple);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.community__article-link {
    text-decoration: none;
    color: var(--purple);
    font-weight: bold;
    transition: 100ms;
}

.community__article-link:hover {
    color: var(--green);
}

.community__article-link:link {
    color: var(--purple);
}

.community__article-title {
    color: var(--purple);
    font-size: 3rem;
    margin-bottom: 15px;
}

.community__article {
    background: #FFFFFF;
    color: #000000;
}

.community__article-head {
    padding: 50px 30px;
}

.community__article-paragraph {
    font-size: 1.5rem;
    width: 80%;
    margin: 20px auto;
}

.community__article-desc {
    font-size: 1.8rem;
    width: 80%;
}

.community__article-sub-title {
    font-size: 2.3rem;
    width: 80%;
    margin: 30px auto;
}

.community__article-separator {
    display: block;
    width: 10%;
    height: 3px;
    background: var(--green);
    margin: 30px 0px;
}

.community__article-autor {
    font-weight: 500;
    font-size: 1.8rem;
}

.community__article-autor-meta {
    font-size: 1.1rem;
}

.community__article-img {
    width: 100%;
    margin: auto;
}

.community__article-body {
    text-align: justify;
}

.community__article-link2 {
    color: #9c9c9c;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
}

@media only screen and (min-width: 425px) and (max-width: 768px) {

    .header {
        grid-template-columns: 30% 44% 8% 18%;
        max-height: 100px;
    }

    .header__nav {
        grid-column: 3 / 4;
    }

    .social-media {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
    }

    .header__menu {
        display: none;
    }

    .menu__responsive {
        display: inline;
    }

    .vip {
        padding: 1px 10px 8px 8px;
        box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.10);
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .home__mockups {
        width: 80vw;
    }

    .home__paragraph {
        margin: auto;
        width: 90%;
        text-align: center;
    }

    .services__container {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }

    .services__card {
        margin: 15px 0px;
    }

    .why-container {
        flex-direction: column-reverse;
    }

    .why-container__list {
        width: 100%;
    }

    .why-container__image {
        width: 90vw;
    }

    .pricing__container {
        flex-direction: column;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 20px 0px 0px;
    }

    .features__items {
        margin: 20px 0px;
    }

    .features__items:last-child {
        grid-column: 1 / 3;
    }

    .features__icon {
        margin-left: 50px;
    }

    .call-to-action--fifty-fifty {
        flex-direction: column;
    }

    .pricing__container {
        display: grid;
        padding: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing__separator {
        display: none;
    }

    .footer {
        flex-direction: column-reverse;
        padding: 40px 0px 0px 0px;
    }

    .footer__logo {
        display: none;
    }

    .footer__more-info {
        width: 100%;
        font-size: 3.2rem;
        line-height: 50px;
        text-align: center;
    }

    .footer__calendar {
        width: 60%;
    }

    .faq__container {
        display: flex;
        flex-direction: column;
    }

    .faq__answer {
        margin-bottom: 50px;
    }

    .footer--colum {
        flex-direction: column;
    }

    .community__container {
        flex-direction: column;
    }

    .community__title {
        text-align: start;
    }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {

    .header {
        grid-template-columns: 50% 35% 15%;
        max-height: 100px;
    }

    .header__nav {
        grid-column: 3 / 4;
    }

    .social-media {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
    }

    .header__menu {
        display: none;
    }

    .vip {
        padding: 1px 10px 8px 8px;
        position: absolute;
        top: 110px;
        box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.10);
    }

    .home {
        flex-direction: column;
        padding: 50px 0px 20px 0px;
        height: 80vh !important;
        align-items: center;
    }

    .home__mockups {
        width: 100vw;
    }

    .home__title {
        font-size: 1.4rem;
        line-height: 32px;
        text-align: center;
    }

    .home__title--sub-title {
        font-size: 1.5rem;
    }

    .home__paragraph {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .menu__responsive {
        display: inline;
        cursor: pointer;
    }

    .whatsapp-btn {
        width: 100px;
        z-index: 50;
    }

    .features {
        flex-direction: column;
        padding: 0px;
    }

    .features__items {
        margin: 20px 0px;
    }

    .features__icon {
        margin-left: 50px;
    }

    .aws-banner {
        width: 100px;
    }

    .services {
        padding: 30px 0;
        background-position: right;
    }

    .services__container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .services__card {
        margin: 15px 0px;
    }

    .title {
        padding-top: 40px;
        font-size: 2.7rem;
    }

    .separator {
        width: 120px;
    }

    .why-container {
        flex-direction: column-reverse;
        border-top-right-radius: 30px;
        margin: 20px 0px 0px 0px;
    }

    .why-container__title {
        margin-top: 30px;
        font-size: 1.9rem;
        text-align: center;
        line-height: 50px;
    }

    .why-container__sub-title {
        font-size: 3rem;
    }

    .why-container__list {
        width: 100%;
        padding-top: 10px;
    }

    .why-container__image {
        width: 100vw;
    }

    .call-to-action--fifty-fifty {
        flex-direction: column;
    }

    .call-to-action__title {
        margin: 10px 0px;
        text-align: center;
        padding: 0;
    }

    .call-to-action__image {
        width: 80%;
    }

    .pricing__container {
        flex-direction: column;
    }

    .pricing__item {
        margin: 40px 50px;
    }

    .pricing__title {
        font-size: 2.8rem;
    }

    .pricing__separator {
        width: 70px;
        height: 6px;
    }

    .footer {
        flex-direction: column-reverse;
        padding: 40px 0px 0px 0px;
    }

    .footer__logo {
        display: none;
    }

    .footer__more-info {
        width: 100%;
        font-size: 3.2rem;
        line-height: 50px;
        text-align: center;
    }

    .footer__calendar {
        width: 95%;
    }

    .faq__container {
        display: flex;
        flex-direction: column;
    }

    .faq__answer {
        margin-bottom: 50px;
    }

    .footer--colum {
        flex-direction: column;
    }

    .community__container {
        display: initial;
    }

    .community__articles {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        position: initial;
    }

    .community__article-head {
        padding: 10px 0px;
    }

    .community__title {
        text-align: center;
    }

    .community__article-paragraph,
    .community__article-sub-title {
        margin: initial;
        text-align: start;
        width: 100%;
    }

    .community__article-link2 {
        font-size: 16px;
    }

    .community__article-title {
        font-size: 1.9rem;
    }
}